*{
  margin: 0;
  padding: 0;
  font-family: 'poppins, sans-serif';
  box-sizing: border-box;
}
.container{
  width: 100%;
  min-height:100vh;
  background: linear-gradient(135deg,#cf9aff,#95c0ff);
  color: #fff;
  padding-top: 4%;
  padding-left:10%;
}
.container h1{
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: 600;
}
.container h1 img{
  width:60px;
}
.container button img{
  width: 25px;
  margin-right: 8px;
}
.container button{
    display: flex;
    align-items: center;
    color: #fff;
    background: linear-gradient(135deg,#9418fd,#571094);
    color: 16px;
    outline: 0;
    border: 0;
    border-radius: 40px;
    padding:15px 25px ;
    margin: 30px 0 20px;
    font-size: 16px;
    cursor: pointer;
}
.input-box{
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 150px;
  background: #fff;
  border-radius: 5px;
  outline:none;
  margin: 20px 0;
  color: #333;
  padding: 20px;
}
.input-box img{
  position: absolute;
  cursor: pointer;
  width: 25px;
  right: 15px;
  bottom: 15px;
}