*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
body{
  font-family: 'poppins', sans-serif;
  background: #6acf6c;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.container{
  background: whitesmoke;
  width: 400px;
  height: 400px;
padding-top: 3%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.447);
 position: relative;
}
form .input-group{
  margin: 20px 0;
  position: relative;

  /* background-color: aqua; */
}

.input-group input{
  padding: 15px;
  outline: 0;
  border: none;
  border-bottom:1px solid #777;
  background: transparent;
  width: 250px;
  margin-left: 90px;
}
.input-group textarea{
  border: none;
  background: transparent;
  border-bottom: 1px solid #777;
   padding: 10px;
   margin-left: 20px;
   outline: none;
    height: 40px;  /* adjust to your preference */
  resize: vertical; /* lets user drag it taller if needed */
    width: 250px;
    margin-left: 100px;
}
.input-group label{
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-40%);
  transition: 0.3s ease;
}
button{
background-color: #6acf6c;
border: none;
outline: none;
color: aliceblue;
padding: 8px 30px;
border-radius:4px ;
font-weight: bold;
cursor: pointer;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.511);
margin-top: 2px;
}
form .fa-paper-plane{
  color: aliceblue;
  background-color: #6acf6c;
  padding:25px;
  border-radius: 50%;
position: absolute;
font-size: 28px;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
}


.input-group span{
  position:absolute;
  bottom: -18px;
  right:27px;
  font-size:12px;
  color: red;
}
#submit-error{
   color: red;
    font-size:12px;
    margin-top: 10px;
}
.input-group span i{
  color: seagreen;
}
#exception{
bottom: 1900px;

}





