*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background:url('blue-sea-landscape.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background: linear-gradient(135deg, #0d4181, #01142b); */
  height: 100vh;
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;   /* makes image scale down with the container */
  height: auto;      /* maintains aspect ratio */
  display: block;    /* optional: removes bottom whitespace */
}

.container{
  width: 400px;
  background: #ffffff3d;
  padding: 25px 35px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(10px);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container p{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 8px;
  color: #032854;
}
.container input{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin:10px 0 20px;
  font-size: 16px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* transition: all 0.3s ease; */
}
input:focus {
  outline: none;      /* removes the default blue outline */
  border: 1.5px solid #0d4181;       /* removes the border */
}
.container button{
  width: 100%;
  height: 50px;
  background-color: #032854;
  color: #fff;
  border: none;
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  font-size: 18px;
  cursor: pointer;
  /* transition: all 0.3s ease; */
  font-weight: 500;
  margin: 8px 0;
}

#imgBox{
  width: 200px;
  border-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;   
}
#imgBox img{
  width: 100%;
  padding: 10px;
}
/*this will be aplied when the  qrr code is displaying*/
#imgBox.show-img{
  max-height:300px;
  margin:10px;
  border: 1px solid #0d4181;
 
}


.error{
  animation: shake 0.1s linear 10;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(0px); }
  75% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}

